:root { 
--bluegray_50:#f1f1f1; 
--indigo_A200:#4f7aeb; 
--green_800:#01a601; 
--black_900_3f:#0000003f; 
--green_A200:#5be68a; 
--black_900_db:#000000db; 
--black_900_66:#00000066; 
--black_900:#000000; 
--red_A700:#d10404; 
--gray_501:#9a9ea6; 
--gray_600:#857f7f; 
--gray_700:#585151; 
--gray_502:#9d9d9d; 
--gray_500:#9b9fa7; 
--blue_800:#1e58c8; 
--gray_701:#714f4f; 
--gray_702:#666666; 
--bluegray_100:#c4dddb; 
--blue_52:#d7e2ff; 
--blue_50:#e2eaff; 
--gray_100:#eff3ff; 
--blue_51:#d6e1ff; 
--gray_900_3f:#2e25253f; 
--bluegray_100_00:#d9d9d900; 
--blue_300_96:#6993ff96; 
--bluegray_200:#adb5c0; 
--bluegray_101:#d9d9d9; 
--blue_300:#6993ff; 
--white_A701:#fffcfc; 
--white_A700:#ffffff; 
--white_A702:#fffdfd; 
}